html {
    box-sizing: border-box;
    font-size: 16px;
}

.header{
    width: 100%;
}

.header__wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding:0px 15px 0px 15px;
}

.social {
    display: flex;
}

.social-container {
    margin-right: 9px;
}
.social-img {
    width: 17px;
}

.header__logo {
    padding-left: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px
}

/* .header__logo-img {
    transition: all 200ms;
    transform: scale(1.5);
    transition: all 200ms;
    transform: scale(1.5);
    z-index: 2;
}
.header__logo-img {
    transition: all 200ms;
    transform: scale(1);
    transition: all 200ms;
    transform: scale(1);
    z-index: 2;
} */

.logo-img {
    width: 90px;

}

.header__logo-text {
    font-family: 'Tinos', serif;
    text-decoration: italic;
    font-weight: 600;
    font-size: 7px;
}


.header__container-menu {

}


.header__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.header__submenu {

}

.header__menu .header__submenu {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0px;
    z-index: 3;
}

    .header__menu-item a {
    display: block;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: rgba(14, 13, 13, 0.637);
    background-color: rgba(0, 0, 0, 0.014);
    border-radius: 4px;
    font-family: 'Tinos', serif;
    font-weight: 600;
    font-size: 11px;
}
.header__submenu-item a {
    display: block;
    width: 107px;
    padding: 5px;
    margin-bottom: 1px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.486);
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 2px;
    font-family: 'Tinos', serif;
    font-weight: 600;
    font-size: 11px;
}

    li a:hover {
    color: #ffe;
    background-color: #44232388;}

    li:hover .header__submenu {
    display: flex;
    flex-direction: column;
}

/*Section MAIN*/

/*Gallary*/
.main{
    width: 100%;
}

.gallary {
    width: 100%;
    background: linear-gradient(to top left, rgba(128, 0, 128, 0.144), rgba(220, 20, 60, 0.164), rgba(255, 68, 0, 0.253), rgba(255, 217, 0, 0.199));
}

.gallary__wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.gallary__container {
    display: flex;
    margin: 25px 0;
}

.gallary__container-item {
    display: flex;
    height: 23rem;
    width: 19rem;
    background-color:rgb(73, 69, 69);
    margin: 0 10px;
    overflow:hidden;
    transition: all 200ms ease-in;
    transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.gallary__container-item:hover {
    box-shadow: 0px 0px 80px #350701;
    transition: all 200ms;
    transform: scale(1.15);
    transition: all 200ms;
    transform: scale(1.15);
    z-index: 2;
}

.gallary-img {
    margin: 0 auto;
    width: 100%;
}

.gallary__icon {
    margin: 0 20px;
    transition: all 150ms ease-in;
    transform: scale(1);
    transition: all 150ms ease-in;
    transform: scale(1);
}

.gallary__icon:hover {
    box-shadow: 0px 0px 20px #f3ebeb;
    transition: all 150ms;
    transform: scale(1.15);
    transition: all 150ms;
    transform: scale(1.15s);
}


/*ABOUT*/

.about {
    width: 100%;
}

.about__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper__cont {
    display: grid;
    margin: 25px 35px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
}


.about__cont {

}
.about__container1 {
    grid-column: 1 / span 2;
    display: flex;
    margin: 0 auto;
    font-family: 'Tinos', serif;
    font-weight: 600;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.678);
}



.about__container3  {
    display:flex;
    align-items: center;
    font-family: 'Tinos', serif;
    font-size: 21px;
}

.about__container5  {
    display:flex;
    align-items: center;
    font-family: 'Tinos', serif;
    font-size: 18px;
}


.about-img {
    width: 350px;
    border-radius: 88px;
}

/*PRICE*/

.price {
    width: 100;
}

.price__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.price-title {
    font-family: 'Tinos', serif;
    font-weight: 600;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.678);
    margin:20px 0;
}

.table {
    width: 100%;
    height: 300px;
    margin:25px;
    border: 4px solid rgb(10, 10, 10);
}


th {
    border: 4px solid rgb(10, 10, 10);
}

td {
    border: 4px solid rgb(10, 10, 10);
}
